.idea/
.phpintel/
*.sublime-project

node_modules/
/vendor
/public/storage
/public/sitemap.xml
/public/modules
/public/themes
/Modules/*/Assets
/Themes/*/assets
mix-manifest.json
npm-debug.log
yarn-error.log
tags
*.map
.env
resources/lang/admin/en/admin.php
resources/lang/admin/en/dashboard.php
resources/lang/admin/en/resource.php
resources/lang/admin/en/sidebar.php
resources/lang/attribute/en/admin.php
resources/lang/attribute/en/attribute_sets.php
resources/lang/attribute/en/attribute_values.php
resources/lang/attribute/en/attributes.php
resources/lang/attribute/en/permissions.php
resources/lang/attribute/en/sidebar.php
resources/lang/cart/en/validation.php
resources/lang/category/en/attributes.php
resources/lang/category/en/categories.php
resources/lang/category/en/permissions.php
resources/lang/category/en/sidebar.php
resources/lang/checkout/en/mail.php
resources/lang/contact/en/attributes.php
resources/lang/core/en/validation.php
resources/lang/coupon/en/attributes.php
resources/lang/coupon/en/coupons.php
resources/lang/coupon/en/permissions.php
resources/lang/currency/en/attributes.php
resources/lang/currency/en/currency_rates.php
resources/lang/currency/en/permissions.php
resources/lang/currency/en/services.php
resources/lang/media/en/media.php
resources/lang/media/en/permissions.php
resources/lang/menu/en/attributes.php
resources/lang/menu/en/menu_items.php
resources/lang/menu/en/menus.php
resources/lang/menu/en/permissions.php
resources/lang/menu/en/sidebar.php
resources/lang/meta/en/attributes.php
resources/lang/option/en/attributes.php
resources/lang/option/en/options.php
resources/lang/option/en/permissions.php
resources/lang/option/en/sidebar.php
resources/lang/order/en/mail.php
resources/lang/order/en/orders.php
resources/lang/order/en/permissions.php
resources/lang/order/en/print.php
resources/lang/order/en/statuses.php
resources/lang/page/en/attributes.php
resources/lang/page/en/pages.php
resources/lang/page/en/permissions.php
resources/lang/page/en/sidebar.php
resources/lang/product/en/attributes.php
resources/lang/product/en/permissions.php
resources/lang/product/en/products.php
resources/lang/product/en/sidebar.php
resources/lang/report/en/admin.php
resources/lang/report/en/permissions.php
resources/lang/report/en/sidebar.php
resources/lang/review/en/attributes.php
resources/lang/review/en/permissions.php
resources/lang/review/en/reviews.php
resources/lang/review/en/sidebar.php
resources/lang/setting/en/attributes.php
resources/lang/setting/en/permissions.php
resources/lang/setting/en/settings.php
resources/lang/setting/en/sidebar.php
resources/lang/slider/en/attributes.php
resources/lang/slider/en/permissions.php
resources/lang/slider/en/sliders.php
resources/lang/support/en/captcha.php
resources/lang/tax/en/attributes.php
resources/lang/tax/en/permissions.php
resources/lang/tax/en/sidebar.php
resources/lang/tax/en/taxes.php
resources/lang/transaction/en/permissions.php
resources/lang/transaction/en/transactions.php
resources/lang/translation/en/permissions.php
resources/lang/translation/en/sidebar.php
resources/lang/translation/en/translations.php
resources/lang/user/en/attributes.php
resources/lang/user/en/auth.php
resources/lang/user/en/mail.php
resources/lang/user/en/permissions.php
resources/lang/user/en/roles.php
resources/lang/user/en/sidebar.php
resources/lang/user/en/users.php
